@font-face {
    font-family: 'Jap Brush';
    src: url(../font/JAPAB___.TTF);
}

:root {
    --light-bleu: rgb(186, 194, 231);
    --bleu: rgb(162, 175, 192);
    --rouge: #FF5A2D;
    --saumon: rgb(255, 190, 115);
    --gris: #666;
}

* {
    box-sizing: border-box;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

body {
    background: url('../img/fond-mini.png');
    font-family: 'Raleway', sans-serif;
    /*padding-top: 45px;*/
}

a, button {
    outline: none;
}

p {
    color: var(--gris);
}

#corps
{
    width: 980px;
    min-height: calc(100vh - 160px);
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(-45deg, var(--saumon), var(--light-bleu));
    box-shadow: -10px 1px 15px 0px rgba(50, 50, 50, 0.75),
    10px 0px 15px 0px rgba(50, 50, 50, 0.75);
}

h1, h2, h3 {
    color: var(--rouge);
    font-size: 4rem;
    margin-bottom: 10px;
    font-family: 'Jap Brush', cursive;
    text-shadow: -1px 1px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -3px 3px 0 #FFFFFF, -1px 0px 0 #FFFFFF;
}

h1 {
    margin-top: 80px;
    font-size: 6rem;
}

h1:hover {
    text-decoration: underline;
}

.container p {
    font-size: 2.2rem;
    margin-top: 80px;
}

#infos p {
    font-family: 'Raleway', sans-serif;
    margin-top: 45px;
    margin-bottom: 45px;
    line-height: 2.2rem;
}

.item {
    width: 100%;
    height: 400px;
}

.container {
    position: relative;
    top: -25px;
    padding: 0;
    margin: 0;
    width: 980px;
}

#infos {
    padding: 0 10px 10px 10px;
}

footer {
    margin: auto;
    background-color: var(--rouge);
    height: 160px;
    width: 980px;

    border-top: 1px dotted gray;
    color: white;
    font-size: 1rem;
    box-shadow: -10px 15px 15px 0px rgba(50, 50, 50, 0.75),
    10px 15px 15px 0px rgba(50, 50, 50, 0.75);

    text-align: left;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer i {
    margin-right: 25px;
}

footer i:hover {
    color: var(--saumon);
}

footer a {
    color: white;
}

.border_footer {
    border-right: 1px dashed white;
}

footer a:visited {
    color: white;
}

.sociaux {
    display: flex;
    flex-direction: column;
}

.sociaux ul {
    display: flex;
    margin-top: 25px;

}

.margin_top10 {
    margin-top: 10px;
}

h5 {
    font-weight: bold;
    font-size: 1.2rem;
}

footer li:hover {
    color: var(--saumon);
}

.padding_top25 {
    padding-top: 25px;
}

/***********************************
        RESPONSIVE GENERAL
***********************************/

@media screen and (max-width: 980px) {
    body {
        background: black;
    }

    footer {
        width: 100%;
    }

    
}

@media screen and (max-width: 1280px) {
    #myCarousel {
        display: none;
    }

    #myCarousel img {
        min-width: 100%;
        height: auto;
    }

    .container {
        height: 350px;
        width: 100%;
        background-image: url(../img/gallerie/interieur.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}

@media screen and (max-width: 500px) {
    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-content: center;
    }

    h1 {
        font-size: 4rem;
        margin-top: 40px;
    }

    ul {
        margin-bottom: 10px;
    }

    #infos p {
        line-height: 1.3rem;
        margin-bottom: 25px;
    }

    .padding_top25 {
        padding-top: 5px;
    }

    .margin_top10 {
        margin-top: 3px;
    }

    #corps{width: 100%;}
}